/* Variables */

:root {
  --basic-dark: #333333;
  --basic-black: #000000;
  --basic-grey-light: #f2f2f2;
  --basic-grey: #eeeeee;
  --basic-grey-dark: #ebebeb;
  --basic-grey-black: #6a6a6a;
  --basic-white: #ffffff;
  --basic-blue: #81b3d2;
  --basic-blue-dark: #669ec0;
  --basic-blue-black: #5496bd;
  --basic-brown: #766357;
  --basic-brown-dark: #604e43;
  --basic-brown-black: #503e33;
  --basic-special: #bdbbbc;
}

/* Global */

.page-body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-dark);
  text-transform: uppercase;
  background-color: var(--basic-grey-light);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

img {
  max-width: 100%;
  height: auto;
}

/* Grid */

.page {
  height: 100%;
}

/* Logo */

.main-header-logo {
  justify-self: center;
}

/* Main navigation */

.main-navigation {
  display: grid;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
}

.main-navigation a {
  color: var(--basic-black);
}

/* Site Navigation */

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation a {
  text-decoration: none;
}

.site-navigation a:not([href]) {
  color: var(--basic-brown);
}

.site-navigation a:hover {
  color: var(--basic-blue);
}

.site-navigation a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.container {
  background-color: var(--basic-white);
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.container h1 {
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

/* Five reasons */

.five-reasons {
  text-align: center;
  font-size: 14px;
  line-height: 26px;
}

.features {
  margin-bottom: 58px;
}

.feature-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.feature-list .real-town {
  grid-column: 1/4;
}

.feature-list .devil-bridge {
  grid-column: 1/4;
}

.feature-list h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.feature-list-attractions {
  list-style: none;
  margin: 0;
  padding: 0;
}

.real-town,
.devil-bridge {
  background-color: var(--basic-blue);
}

.feature-list-attractions {
  background-color: var(--basic-white);
}

.feature-item {
  margin: 0;
}

.small-area,
.beautiful-road,
.few-tourists {
  background-color: var(--basic-grey);
}

.interested {
  text-align: center;
  line-height: 24px;
}

.interested h2 {
  text-align: center;
  font-size: 30px;
  line-height: 24px;
}

.list-of-hotels {
  background-color: var(--basic-white);
  list-style: none;
}

.name-of-the-hotel {
  text-decoration: none;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
}

.name-of-the-hotel:hover {
  color: var(--basic-blue);
}

.name-of-the-hotel:focus {
  color: rgba(0, 0, 0, 0.3);
}

.rating {
  display: block;
  height: 27px;
  width: 110px;
  background-color: var(--basic-grey-light);
  text-align: center;
}

/* Button */

.button {
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: var(--basic-white);
  border: none;
}

.hotel-search {
  font-size: 21px;
  line-height: 26px;
  background-color: var(--basic-brown);
  height: 86px;
  width: 568px;
}

.hotel-search:hover {
  background-color: var(--basic-brown-dark);
}

.hotel-search:active {
  background-color: var(--basic-brown-black);
}

.button-show {
  height: 36px;
  width: 137px;
  background-color: transparent;
}

.button-show:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.sorting-found-items {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  border-bottom: 1px dotted var(--basic-blue);
}

.sorting-found-items:hover {
  color: var(--basic-blue);
  border-bottom: 1px dotted var(--basic-blue);
}

.sorting-found-items:focus {
  color: var(--basic-black);
  border: none;
}

.sorting-found-items:active {
  color: var(--basic-blue);
  border: none;
}

.more-detailed {
  display: block;
  text-decoration: none;
  background-color: var(--basic-blue);
  height: 27px;
  width: 110px;
  font-weight: 700;
}

.more-detailed:hover {
  background-color: var(--basic-blue-dark);
}

.more-detailed:focus {
  background-color: var(--basic-blue-black);
  color: rgba(255, 255, 255, 0.3);
}

.to-book {
  display: block;
  text-decoration: none;
  background-color: var(--basic-brown);
  height: 27px;
  width: 142px;
  font-weight: 700;
}

.to-book:hover {
  background-color: var(--basic-brown-dark);
}

.to-book:focus {
  background-color: var(--basic-brown-black);
  color: rgba(255, 255, 255, 0.3);
}

/* filters */

.filters {
  color: var(--basic-white);
  background-color: var(--basic-brown);
  background-image: url(../image/background_filters.jpg);
  background-repeat: no-repeat;
}

.filters-wrapper {
  display: grid;
  grid-template-columns: 300px 500px 400px;
}

.filters ul {
  list-style: none;
}

.filters-infrastructure,
.filters-housing-type,
.filters-cost-per-day {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

/* sorting-found */

.sorting-found {
  background-color: var(--basic-white);
}

.sorting-found h2,
.sorting-found p {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.sorting-found h3,
.sorting-found a {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.sorting-found ul {
  list-style: none;
}

.sorting-found-wrapper {
  display: grid;
  grid-template-columns: 230px 460px 510px;
}

.list-of-hotels-wrapper {
  display: grid;
  grid-template-columns: 230px 460px 510px;
}

/* Main footer */

.main-footer {
  background-color: var(--basic-white);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-contacts a {
  text-decoration: none;
  color: var(--basic-black);
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.footer-social ul {
  list-style: none;
}

.footer-social {
  padding-top: 36px;
  line-height: 26px;
}

.footer-contacts {
  padding-top: 23px;
}

/* Social button */

.social-button {
  background-color: var(--basic-blue);
  display: block;
  width: 46px;
  height: 48px;
  text-align: center;
  margin: 20px;
}

/* copyright button */

.copyright-button:hover .copyright-academy {
  fill: var(--basic-blue);
}

.copyright-button:active .copyright-academy {
  fill: var(--basic-special);
}

.footer-copyright {
  padding-top: 47px;
  line-height: 26px;
}
