/* Variables */

:root {
  --basic-dark: #333333;
  --basic-black: #000000;
  --basic-grey-extra-light: #f2f2f2;
  --basic-grey: #eeeeee;
  --basic-grey-dot: #ababab;
  --basic-grey-light: #e5e5e5;
  --basic-grey-dark: #ebebeb;
  --basic-grey-black: #6a6a6a;
  --basic-white: #ffffff;
  --basic-blue: #81b3d2;
  --basic-blue-dark: #669ec0;
  --basic-blue-black: #5496bd;
  --basic-brown: #766357;
  --basic-brown-dark: #604e43;
  --basic-brown-black: #503e33;
  --basic-special: #bdbbbc;
}

/* Global */

.page-body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-dark);
  text-transform: uppercase;
  background-color: var(--basic-grey-extra-light);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Grid */

.page {
  height: 100%;
}

.main-header {
  position: relative;
}

/* Logo */

.main-header-logo {
  position: absolute;
  top: 0;
  left: 531px;
}

/* Main navigation */

.main-navigation {
  display: grid;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
  padding: 15px 0;
}

.site-navigation li:nth-child(3) {
  margin-left: auto;
}

.main-navigation a {
  color: var(--basic-black);
}

/* Site Navigation */

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.site-navigation li {
  width: 240px;
}

.site-navigation a {
  text-decoration: none;
}

.info {
  margin-left: 63px;
}

.foto-video {
  margin-left: 60px;
}

.map-state {
  margin-left: 97px;
}

.hotel {
  margin-left: 89px;
}

.site-navigation a:not([href]) {
  color: var(--basic-brown);
}

.site-navigation a:hover {
  color: var(--basic-blue);
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.container {
  background-color: var(--basic-white);
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.container h1 {
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin-top: 42.5px;
  margin-bottom: 0;
  min-height: 80px;
}

/* Five reasons */

.five-reasons {
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  margin-top: 16.5px;
  margin-bottom: 0;
}

.feature-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: 51px;
}

.feature-list .real-town {
  grid-column: 1/4;
}

.feature-list .devil-bridge {
  grid-column: 1/4;
}

.feature-item-real-town {
  display: flex;
}

.real-town-image-wrapper {
  height: 256px;
  width: 800px;
  background-color: rgba(240, 173, 147, 0.904);
}

.real-town-wrapper {
  min-height: 256px;
  width: 400px;
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.real-town-wrapper h3 {
  margin-top: 47px;
}

.real-town-wrapper h3 + p {
  margin-top: 25px;
}

.real-town-wrapper p + p {
  margin-top: 23px;
}

.feature-list h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.feature-list-attractions {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 330px;
}

.feature-list-attractions li {
  width: 400px;
}

.feature-list-attractions-house img {
  margin-top: 60px;
}

.feature-list-attractions-house h3 {
  margin-top: 28px;
}

.feature-list-attractions-house p {
  margin-top: 25px;
}

.feature-list-attractions-burger img {
  margin-top: 61px;
}

.feature-list-attractions-burger h3 {
  margin-top: 29px;
}

.feature-list-attractions-burger p {
  margin-top: 25px;
}

.feature-list-attractions-box img {
  margin-top: 55px;
}
.feature-list-attractions-box h3 {
  margin-top: 28px;
}
.feature-list-attractions-box p {
  margin-top: 25px;
}

.feature-item-devil-bridge {
  display: flex;
}

.devil-bridge-image-wrapper {
  height: 256px;
  width: 800px;
  background-color: rgba(240, 173, 147, 0.904);
}

.devil-bridge-wrapper {
  min-height: 256px;
  width: 400px;
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.devil-bridge-wrapper h3 {
  margin-top: 50px;
}

.devil-bridge-wrapper h3 + p {
  margin-top: 25px;
}

.devil-bridge-wrapper p + p {
  margin-top: 23px;
}

.feature-item {
  margin: 0;
}

.small-area {
  width: 400px;
  min-height: 256px;
}

.beautiful-road {
  width: 400px;
  min-height: 256px;
}

.few-tourists {
  width: 400px;
  min-height: 256px;
}

.small-area h3,
.beautiful-road h3,
.few-tourists h3 {
  margin-top: 47px;
}

.small-area h3 + p,
.beautiful-road h3 + p,
.few-tourists h3 + p {
  margin-top: 25px;
}

.small-area p + p,
.beautiful-road p + p,
.few-tourists p + p {
  margin-top: 23px;
}

.small-area,
.beautiful-road,
.few-tourists {
  background-color: var(--basic-grey);
}

.interested {
  text-align: center;
  line-height: 24px;
}

.interested h2 {
  text-align: center;
  font-size: 30px;
  line-height: 24px;
  margin-top: 58px;
  margin-bottom: 0;
}

.the-best-offers {
  min-height: 62px;
  margin-top: 4px;
  margin-bottom: 0;
  padding-top: 33px;
}

.list-of-hotels {
  background-color: var(--basic-white);
  list-style: none;
}

.name-of-the-hotel {
  text-decoration: none;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
}

.name-of-the-hotel:hover {
  color: var(--basic-blue);
}

.name-of-the-hotel:active {
  color: rgba(0, 0, 0, 0.3);
}

.rating {
  display: block;
  height: 27px;
  width: 110px;
  background-color: var(--basic-grey-extra-light);
  text-align: center;
}

/* Button */

.button {
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: var(--basic-white);
  border: none;
  cursor: pointer;
}

.hotel-search {
  font-size: 21px;
  line-height: 26px;
  background-color: var(--basic-brown);
  height: 86px;
  width: 568px;
  margin-top: 24px;
}

.hotel-search:hover {
  background-color: var(--basic-brown-dark);
}

.hotel-search:active {
  background-color: var(--basic-brown-black);
  color: rgba(255, 255, 255, 0.3);
}

.button-show {
  height: 36px;
  width: 137px;
  background-color: transparent;
  align-self: center;
  border: 2px solid var(--basic-white);
}

.button-show:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.sorting-found-items {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  border-bottom: 1px dotted var(--basic-blue);
}

.sorting-found-items:hover {
  color: var(--basic-blue);
  border-bottom: 1px dotted var(--basic-blue);
}

.sorting-found-items:active {
  color: var(--basic-black);
  border: none;
}

/* .sorting-found-items:active {
  color: var(--basic-blue);
  border: none;
} */

.sorting-found-items-inner a:not([href]) {
  color: var(--basic-blue);
  border: none;
}

.more-detailed {
  display: block;
  text-decoration: none;
  background-color: var(--basic-blue);
  height: 27px;
  width: 110px;
  font-weight: 700;
}

.more-detailed:hover {
  background-color: var(--basic-blue-dark);
}

.more-detailed:active {
  background-color: var(--basic-blue-black);
  color: rgba(255, 255, 255, 0.3);
}

.to-book {
  display: block;
  text-decoration: none;
  background-color: var(--basic-brown);
  height: 27px;
  width: 142px;
  font-weight: 700;
  margin-left: 5px;
}

.to-book:hover {
  background-color: var(--basic-brown-dark);
}

.to-book:active {
  background-color: var(--basic-brown-black);
  color: rgba(255, 255, 255, 0.3);
}

.name-of-the-hotel-inner .button {
  margin-top: 15.5px;
}

.find-a-hotel {
  width: 458px;
  margin-top: 54px;
  height: 58px;
  background-color: var(--basic-blue);
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.find-a-hotel:hover {
  background-color: var(--basic-blue-dark);
}

.find-a-hotel:active {
  background-color: var(--basic-blue-black);
  color: rgba(255, 255, 255, 0.3);
}

.button-modal {
  display: block;
  width: 38px;
  height: 38px;
}

.button-modal svg:hover {
  fill: var(--basic-black);
}

.button-modal svg:active {
  fill: var(--basic-blue);
}

.button-check-in-calendar {
  position: absolute;
  top: 55px;
  right: 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-departure-calendar {
  position: absolute;
  top: 29px;
  right: 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-adults-minus {
  position: absolute;
  top: 30px;
  left: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.button-adults-plus {
  position: absolute;
  top: 30px;
  left: 186px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-children-minus {
  position: absolute;
  top: 30px;
  right: 77px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-children-plus {
  position: absolute;
  top: 30px;
  right: 1px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* filters */

.filters {
  color: var(--basic-white);
  background-color: var(--basic-brown);
  background-image: url(../image/background_filters.jpg);
  background-repeat: no-repeat;
  height: 217px;
}

.filters-wrapper {
  display: grid;
  grid-template-columns: 1fr auto auto;
}

.filters-wrapper-left {
  display: flex;
}

.filters-wrapper-right {
  grid-column: 3/4;
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 317px;
}

.filters ul {
  list-style: none;
}

.filters-wrapper-left fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.filters-infrastructure,
.filters-housing-type,
.filters-cost-per-day {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  width: 300px;
}

.filters-wrapper-left ul {
  padding: 0;
  margin: 0;
}

.filters-infrastructure {
  padding-top: 26.5px;
  margin-left: 72px;
  margin-bottom: 24px;
  width: 254px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
}

.infrastructure-pool {
  margin-left: 112px;
  margin-bottom: 25px;
}

.infrastructure-parking {
  margin-left: 111px;
  margin-bottom: 25px;
}

.infrastructure-WI-FI {
  margin-left: 111px;
}

.filters-housing-type {
  padding-top: 26.5px;
  margin-left: 0px;
  margin-bottom: 24px;
}

.housing-type-hotel {
  margin-bottom: 25px;
  margin-left: 42px;
}

.housing-type-motel {
  margin-bottom: 25px;
  margin-left: 42px;
}

.housing-type-apartments {
  margin-left: 42px;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -39px;
  top: 0;
  background-image: url(../image/checkbox-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 23px;
  height: 23px;
}

.filter-input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  left: -39px;
  top: 0;
  background-image: url(../image/checkbox-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 23px;
  height: 23px;
  opacity: 0;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 0px;
  left: -39px;
  width: 27px;
  height: 23px;
  background-image: url(../image/checkbox-on.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filters-wrapper-right fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.filters-wrapper-right {
  margin-right: 73px;
}

.filters-cost-per-day {
  padding-top: 26.5px;
  margin-bottom: 10.5px;
}

.filter-interval {
  margin-bottom: 20px;
}

.filter-range-scale {
  height: 2px;
  width: 316px;
  background: rgba(255, 255, 255, 0.3);
  margin-bottom: 33px;
}

.filter-range-bar {
  height: 2px;
  width: 248px;
  background: rgba(255, 255, 255, 1);
  margin-left: 14px;
}

.filter-range {
  position: relative;
}

.filter-range-handle {
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--basic-grey-dot);
  border-radius: 50%;
  cursor: pointer;
}

.filter-range-handle:hover {
  width: 4px;
  height: 4px;
  padding: 0;
  border: 9px solid var(--basic-white);
  background-color: var(--basic-grey-dot);
  border-radius: 50%;
  top: -10px;
}

.max {
  position: absolute;
  top: -9px;
  left: 252px;
}

.max:hover {
  left: 251px;
}

.min {
  position: absolute;
  top: -9px;
}

.min:hover {
  left: -1px;
}

.filter-interval input {
  width: 83px;
  height: 21px;
  padding: 0px;
  margin-left: 0px;
  text-align: start;
  color: var(--basic-white);
  border: none;
  border-radius: 5px;
  background: transparent;
  margin-top: 6.5px;
}

.filter-interval input:first-child {
  width: 58px;
}

.filter-interval {
  border: 2px solid var(--basic-white);
  width: 313px;
  height: 36px;
}

.filter-interval label:first-child {
  margin-left: 52px;
}

.filter-interval label:last-child {
  margin-left: 88px;
}

.filter-interval .max-interval {
  border-left: 2px solid var(--basic-white);
}

/* sorting-found */

.sorting-found {
  background-color: var(--basic-white);
}

.sorting-found h2,
.sorting-found p {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.sorting-found h3,
.sorting-found a {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.sorting-found ul {
  list-style: none;
}

.sorting-found-wrapper {
  display: grid;
  grid-template-columns: 230px 460px 510px;
  margin: 0;
}

.found-hotel-number-wrapper {
  display: flex;
  width: 163px;
  margin-top: 29px;
  margin-left: 73px;
  min-height: min-content;
}

.found-hotel-number-wrapper p,
.found-hotel-number-wrapper h2,
.sorting-found-items-wrapper h3 {
  margin: 0;
}

.sorting-found-items-wrapper {
  display: flex;
  margin-top: 31px;
  margin-bottom: 31px;
}

.sorting-found-items-inner {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 40px;
  padding: 0;
  width: 240px;
  justify-content: space-between;
}

/* .sorting-arrows-up,
.sorting-arrows-down {
  color: #000000;
} */

.sorting-arrows {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
  margin-right: 73px;
  margin-bottom: 0;
  padding: 0;
  margin-left: auto;
}

.sorting-arrows-up {
  margin-right: 12px;
}

.sorting-arrows svg:hover {
  fill: var(--basic-black);
}

.sorting-arrows svg:active {
  fill: var(--basic-blue);
}

.sorting-arrows a:not([href]) svg {
  fill: var(--basic-blue);
}

.list-of-hotels {
  padding: 0;
  margin: 0;
}

.list-of-hotels-items {
  display: flex;
  min-height: 150px;
}

.list-of-hotels li {
  border-top: 1px solid var(--basic-grey-light);
}

.list-of-hotels li:last-child {
  border-bottom: 1px solid var(--basic-grey-light);
}

.list-of-hotels-items-image {
  width: 135px;
  height: 90px;
  margin: 30px 30px 30px 73px;
}

.name-of-the-hotel-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 780px;
  }

.name-of-the-hotel-inner {
  width: 780px;
  min-height: 30.5px;
  margin-top: 23.5px;
  padding-bottom: 3px;
}

.more-detailed-inner {
  min-height: 100px;
}

.more-detailed-inner p {
  margin-top: 0;
  margin-bottom: 15.5px;

}

.to-book-inner p {
  margin-top: 0;
  margin-bottom: 15.5px;
}

.rating {
  height: 27px;
}

.image-star {
  margin-top: 29px;
  margin-bottom: 47px;
  height: 17px;
  text-align: right;
}

/* Selecting-form */

.selecting {
  width: 568px;
  height: 395px;
  background: var(--basic-white);
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
  margin-left: auto;
  margin-right: auto;
  font-family: inherit;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.selecting-form {
  display: flex;
  flex-wrap: wrap;
  width: 458px;
  margin-left: 55px;
  justify-content: space-between;
}

.selecting-form-item:nth-child(3),
.selecting-form-item:nth-child(4) {
  width: 229px;
}

.selecting-form-item input {
  width: 322px;
  height: 26px;
  padding: 6px 12px;
  border: none;
  background-color: var(--basic-grey-extra-light);
}

.selecting-form-item:nth-child(3) input {
  width: 36px;
  padding: 6px 39px;
  text-align: center;
}

.selecting-form-item:nth-child(4) input {
  width: 114px;
  width: 38px;
  padding: 6px 38px;
  text-align: center;
}

.selecting-form-item {
  position: relative;
}

.selecting-form-check-in-date {
  margin-top: 55px;
  margin-left: 20px;
}

.selecting-form-departure-date {
  margin-top: 29px;
  margin-left: 16px;
}

.selecting-form-adults {
  margin-top: 30px;
  margin-left: 31px;
}

.form-children {
  margin-left: 53px;
}

.selecting-form-children {
  margin-top: 30px;
  margin-left: 20px;
}

/* Main footer */

.main-footer {
  background-color: var(--basic-white);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  min-height: 120px;
}

.main-footer-shift {
  opacity: 0.8;
  margin-top: -120px;
}

.footer-contacts a {
  text-decoration: none;
  color: var(--basic-black);
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.footer-social ul {
  list-style: none;
}

.footer-social {
  padding-top: 36px;
  line-height: 26px;
}

.footer-contacts {
  padding-top: 23px;
  text-align: center;
}

/* Social button */

.social-button {
  background-color: var(--basic-blue);
  display: flex;
  width: 46px;
  height: 48px;
  justify-content: center;
  align-items: center;
  margin-bottom: 6px;
}

.social-button:hover {
  background-color: var(--basic-blue-dark);
}

.social-button:active {
  background-color: var(--basic-blue-black);
}

.social-button:active .investment {
  fill: rgba(255, 255, 255, 0.3);
}

.footer-social-wrapper {
  display: flex;
  padding-left: 0px;
  flex-wrap: wrap;
  width: 150px;
  justify-content: space-between;
  margin: 0 auto;
}

/* copyright button */

.copyright-button:hover .copyright-academy {
  fill: var(--basic-blue);
}

.copyright-button:active .copyright-academy {
  fill: var(--basic-special);
}

.footer-copyright {
  padding-top: 47px;
  line-height: 26px;
  text-align: center;
}
